
<router-outlet></router-outlet>
<h1>{{title}}</h1>
<br>
<!-- <div>
    <form [formGroup]="formsignup" (ngSubmit)="Submit()">
  Username :  <input type="text" placeholder="Enter your Username" formControlName="username">
    <br>
        <span *ngIf="username && username.invalid && username.touched" style="color: red; font-family:'Gill Sans'">Username is invalid</span>
       
  <br>
 Password :  <input type="password" placeholder="Enter your password" formControlName="password">
 
 <br>
 <span *ngIf="password && password.invalid && password.touched" style="color: red; font-family:'Gill Sans'">Password is invalid</span>
 <br>
 <button class="btn btn-link" type="submit" [disabled]="formsignup.invalid">Login</button>
</form>
</div> -->


<div>
    <form [formGroup]="formsignup" (ngSubmit)="Submit()">
  Username :  <input type="text" placeholder="Enter your Username" formControlName="username">
    <br>
    <span *ngIf="formsignup.get('username').hasError('required') && formsignup.get('username').touched" style="color: red; font-family:'Gill Sans'">Username is required</span>
  <br>
 Password :  <input type="password" placeholder="Enter your password" formControlName="password">
 <br>
 <span *ngIf="password && password.invalid && password.touched" style="color: red; font-family:'Gill Sans'">Password is invalid</span>
 <br>
 <button class="btn btn-link" type="submit" [disabled]="formsignup.invalid">Login</button>
</form>
</div>


<!-- 
<form [formGroup]="formsignup" (ngSubmit)="Submit()">
    Username :  <input type="text" placeholder="Enter your Username" formControlName="username">
      <br>
          <span *ngIf="username && username.invalid && username.touched" style="color: red; font-family:'Gill Sans'">Username is invalid</span>
         
    <br>
   Password :  <input type="password" placeholder="Enter your password" formControlName="password">
   
   <br>
   <span *ngIf="password && password.invalid && password.touched" style="color: red; font-family:'Gill Sans'">Password is invalid</span>
   <br>
   <button class="btn btn-link" type="submit" [disabled]="formsignup.invalid">Login</button>
  </form> -->